//- 
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
     

html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title File Browser
    link(rel='stylesheet', href='D:/ttrivia/ttrivia/views/lib/bootstrap.min.css')
    link(rel='stylesheet', href='D:/ttrivia/ttrivia/views/lib/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='D:/ttrivia/ttrivia/views/lib/app.css')
  body
    .panel.panel-default.mainpanel
      .panel-heading
        | File Browser
        span.up
          i.fa.fa-level-up
          |  Up
      .panel-body
        table.linksholder
    script(src='D:/ttrivia/ttrivia/views/lib/jquery.min.js')
    script(src='D:/ttrivia/ttrivia/views/lib/bootstrap.min.js')
    script(src='D:/ttrivia/ttrivia/views/lib/datatable/js/jquery.datatables.min.js')
    script(src='D:/ttrivia/ttrivia/views/lib/app.js')
